* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headerContent,
.startHeader,.startHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.endHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.vertical-line {
  border-left: 1px solid black; 
  height: 12px; 
  display: inline-block;
  margin: 0 12px; 
}
.startHeader p {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 800px;
}
.startHeader .live_procting {
  color: rgb(197, 197, 48);
  margin-bottom: 8px;

}
.navbar {
  background-color: #ddba46;
  border-radius: 10px;
  gap: 20px;
}
.navbar .nav-link {
  padding-right: 30px;
  color: #000;
}


.exam_informations {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.exam_informations_right .wrapper{
  display: flex;
  flex-direction: row;
  padding:10px 30px;
  gap: 18px;
}

.circular-bar{
  width: 120px;
  height: 120px;
  background: conic-gradient(#4285f4 2.5deg, #e8f0f7 110deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.circular-bar::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #e8f0f7;
  border-radius: 50%;
}
.percent{
  z-index: 10;
  font-size: 20px;
}

label{
  font-size: 20px;
}
.sortBy button{
border: 1px solid #424242;
}
.sortBy label{
  display: block;
  margin: 5px 80px;
width: 100px;
}

.cameraScreen_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.cameraScreen_buttons .button1 button {
  margin-right: 10px;
  background-color: #36892f;
  border: none;
}
.cameraScreen_buttons .button2 button,
.exam_screen button {
  background-color: #5988c6;
  border: none;
}
.cameraScreen_buttons i,
.exam_screen button {
  padding: 0px 40px;
  font-size: 20px;
  color: #fff;
}
.exam_screen {
  text-align: center;
}
.exam_screen button {
  padding: 0px 60px;
  margin-top: 5px;
}
.answers p {
  font-weight: 600;
}
.rules_violations {
  padding-left: 20px;
}
.rules_violations p {
  padding: 0px !important;
  margin: 0;
}
